
 html {
   z-index: -2;
   height: 100%;
   overflow: hidden;
   overscroll-behavior: none;
 }

 body {
  position: relative;
  background: linear-gradient(#29da31,#60d666,#29da31, #0037fc, #0037fc);
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;

}

#particles-js {
  background: linear-gradient(#29da31,#29da31,#29da31, #0037fc, #0037fc);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.container {
  /* min-height: 100%; */
  position: absolute;
  width: 100%;
  background: transparent;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

}

.header {

  flex-direction: column;
  display: flex;
  margin: auto;
  width: 90vw;
  height: 20vh;
  margin-bottom: 2.5%;
  background-image: url('glitched5.png');
  background-size: contain;
  background-position: 100% 10%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;

}

h1,
h2 {
 color: black;
 background-color: #edf2f3;
 display: inline;
 padding: 5px;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  height: 90vh;
  width: 80vw;
  margin: auto;
  justify-content: space-evenly;
  position: relative;
  border-radius: 2px;
}

.content {
  /* background-color: #edf2f3; */
  color: black;
  height: 100%;
  background: #ffdb15;
  flex-grow: 4;
  overflow-x: hidden;
  overflow-y:auto;
  padding-right: -2%
}
/*
.content-bg {
  position: absolute;
  background: #fed536;
  z-index: -1;
  opacity: 0.5;
  min-height: 100%;
} */

.seeMe {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  /* max-height: 100%; */
  /* padding-right: 30px; */
  min-width: 25%;
  max-width: 25%;
  margin-left: 30px;
  overflow: hidden;
}

.self-portrait {
  border: 1px solid black;
}


.menu {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  opacity: 0.9;
  align-items: center;
  border-radius: 2px;

}

.menu-child1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* flex-grow: 4; */
  margin-right: 2%;
}

.menu-child2 {
  display: flex;
  flex-direction: row;
}

.option {
  list-style: none;
  color:#fb1ba8;
  background: #000;
  border-radius: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-bottom: -2px;
  margin-top: -2px;
  width:100%;
}

.option:hover {
  cursor: pointer;
  color: #000;
  background: #fb1ba8;
}

.aboutme-content {
  display: none;
  padding-left: 10%;
  padding-top: 5%;
  line-height: 1.5em;
  /* overflow-x: hidden;
  box-sizing: border-box; */
}

.projects-content {
  display: none;
  overflow-y: auto;
  padding-left: 5%;
}

.cv-content {
  display: none;
  padding: 5%;
  text-align: center;
}
.contact-content {
  display: none;
  height: 100%;
}

.show {
  display: block;
  overflow: hidden;
}

.aboutme-content p {

  font-size: 14pt;
  max-width: 80%;
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: -2%;
}

.projects {
  width: 90%;
  height: 250px;
  background:  #ffdb15;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}


.thumbnail{
  /* border: 1px solid blue; */
  padding: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
  justify-items: center;
}

.thumbnail img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.title {
  font-family: 'Comfortaa', cursive;
}

.description {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  /* border: 1px solid blue; */
  margin: 1%;
  padding-right: 5px;
  padding-bottom: 5px;
  flex: 2;
  line-height: 1.6;

}

.leaveSite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: flex-start;
}

.leaveSite a {
  color: black;
}

.leaveSite a:hover {
  color: #fb1ba8;
  transform: translateY(-20px);
  transition: all 100ms ease-in;
}

.leaveSite a:visited {
  color: blue;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 500px;
  box-sizing: border-box;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: white;

}
.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;

}

.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.resume p{
  text-align: center;
  background: transparent;
}


.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: hotpink;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: hotpink;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgba(233, 33, 99,1);
  background: transparent;
  text-align: center;
}

.timeline ul li p
{
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233, 33, 99,1);
  color: #fff;
  border-radius: 18px;

}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233, 33, 99,1);
  color: #fff;
  border-radius: 18px;

}



.footer {
  background: #fb1ba8;
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 50px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;

}

.icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding-bottom: 15px;
}

.icons img:hover {
  transform: translateY(-10px);
  transition: all 100ms ease-in;
}

.icons img {
  height: 35px;
  width: 35px;
  padding: 5px;
}

.contact-form {
  /* background: #f3f5f9; */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  padding: 5%;
}

.form-group {
  width: 80%;
  padding: 15px;
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;

}

.form-label {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 80%;
  height: 100%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  z-index: 1;
  pointer-events: none;
  border-bottom: 2px solid  #fb1ba8;
}

input {
  outline: none;
  position: relative;
  border: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 350px;
  padding-top: 10px;
  margin-top: 25;
  font-size: 14px;
  background: transparent;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

input:focus + .form-label .content-name,
input:valid + .form-label .content-name {
  transform: translateY(-100%);
  color:#fb1ba8
}

textarea {
  border: 0;
  outline: none;
  width: 350px;
  left: 0;
  padding-top: 10px;
  height: 80px;
  font-size: 14pt;
  background: transparent;
}

.textarea-label  {
  color: black;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  pointer-events: none;
  text-align: left;

}

textarea:focus + .textarea-label .content-name,
textarea:valid + .textarea-label .content-name
{
  transform: translateY(-350%);
  color: #fb1ba8;
}

.shadow {
  -moz-box-shadow:    2px 2px 2px 2px #292929;
  -webkit-box-shadow: 2px 2px 2px 2px #292929;
  box-shadow:         2px 2px 2px 2px #292929;
}

button {
  font-size: 1.5em;
  padding: 2%;
  background-color: transparent;
  width: 150px;
  border: 2px solid white;
  margin-top: 150px;

}

button:hover {
  background-color:#fb1ba8;
  color: white;
  font-weight: 1.5em;
}



/*
ORIGINAL COLOR SCHEME
placeholder   color: blue;
background-color: #191970;
background-color: #edf2f3;
background: #0000A3;
OG font:  'Roboto', sans-serif
*/

/*
NEW COLOR SCHEME
background-color: #edf2f3;
particles: #F5F5F5
black : #080600
gold : #EABC07
grey:
bg white: #F5F5F5

*/

/*
body {
  background: #95a5a6;
}

{possible gradient
green: #29da31
blue: #0037fc }
.custom-form {

  font-family: 'Lexend Deca', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;


  font-family: 'Roboto', sans-serif;

