
 html {
   z-index: -2;
   height: 100%;
   overflow: hidden;
   overscroll-behavior: none;
 }

 body {
  position: relative;
  background: linear-gradient(#29da31,#60d666, #0037fc, #0037fc);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;

}

#particles-js {
  background: linear-gradient(#29da31,#29da31, #0037fc, #0037fc);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.container {
  /* min-height: 100%; */
  position: absolute;
  width: 100%;
  background: transparent;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

}

.header {

  flex-direction: column;
  display: inline-flex;
  margin: auto;
  width: 90vw;
  height: 30vh;
  margin-bottom: 2.5%;
  background-image: url('skyline.jpg');
  background-size: cover;
  background-position: 100% 10%;
  overflow: hidden;
  text-align: center;

}

h1,
h2 {
 color: black;
 background-color: #edf2f3;
 display: block;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 80vw;
  margin: auto;
  justify-content: space-evenly;
  position: relative;
}

.content {
  /* background-color: #edf2f3; */
  color: black;
  height: 100%;
  flex-grow: 3;
  overflow-x: hidden;
  overflow-y:auto;
  padding-right: -2%
}

.seeMe {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100%;
  min-width: 25%;
  max-width: 25%;
  margin-left: 30px;
}

ul {
  padding: 0;
}


ul, li {
  list-style: none;

  color:#ff8831;
  background: #000;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  margin-bottom: -2px;
  margin-top: -2px;


}

li:hover {
  cursor: pointer;
  color: #000;
  background: #ff8831;
}

.aboutme-content {
  display: none;
  padding-left: 10%;
  padding-top: 5%;
  line-height: 1.5em;
  /* overflow-x: hidden;
  box-sizing: border-box; */
}

.projects-content {
  display: none;
  overflow-y: auto;
  padding-left: 5%;
}

.cv-content {
  display: none;
  padding: 5%;
}
.contact-content {
  display: none;
  height: 100%;
}

.show {
  display: block;
  overflow: hidden;
}

.aboutme-content p {

  font-size: 14pt;
  max-width: 80%;
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: -2%;
}

.menu {
  text-align: center;
  opacity: 0.9;
}

.projects {
  width: 90%;
  height: 250px;
  background:  #ffdb15;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}


.thumbnail{
  /* border: 1px solid blue; */
  padding: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
  justify-items: center;
}

.thumbnail img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.title {
  font-family: 'Comfortaa', cursive;
}

.description {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  /* border: 1px solid blue; */
  margin: 1%;
  padding-right: 5px;
  padding-bottom: 5px;
  flex: 2;
  line-height: 1.6;

}

.leaveSite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: flex-start;
}

.leaveSite a {
  color: blue;
}

.leaveSite a:hover {
  color: black;
  transform: translateY(-20px);
  transition: all 100ms ease-in;
}

.leaveSite a:visited {
  color: #3B3B3B;
}

.footer {
  background: #ff8831;
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 60px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;

}

.icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding-bottom: 10px;
}

.icons img:hover {
  transform: translateY(-10px);
  transition: all 100ms ease-in;
}

.icons img {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.contact-form {
  /* background: #f3f5f9; */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  padding: 5%;
}

.form-group {
  width: 80%;
  padding: 15px;
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;

}

.form-label {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 350px;
  height: 100%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  z-index: 1;
  pointer-events: none;
  border-bottom: 2px solid  #5fa8d3;
}

input {
  outline: none;
  position: relative;
  border: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 350px;
  padding-top: 10px;
  font-size: 14px;
  background: transparent;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

input:focus + .form-label .content-name,
input:valid + .form-label .content-name {
  transform: translateY(-100%);
  color: blue
}

textarea {
  border: 0;
  outline: none;
  width: 350px;
  left: 0;
  padding-top: 10px;
  height: 80px;
  font-size: 14pt;
  background: transparent;
}

.textarea-label  {
  color: black;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  pointer-events: none;
  text-align: left;

}

textarea:focus + .textarea-label .content-name,
textarea:valid + .textarea-label .content-name
{
  transform: translateY(-350%);
  color: blue;
}

.shadow {
  -moz-box-shadow:    2px 2px 2px 2px #292929;
  -webkit-box-shadow: 2px 2px 2px 2px #292929;
  box-shadow:         2px 2px 2px 2px #292929;
}

button {
  font-size: 1.5em;
  padding: 2%;
  background-color: transparent;
  width: 150px;
  border: 2px solid white;
  margin-top: 50px;

}



/*
ORIGINAL COLOR SCHEME
placeholder   color: blue;
background-color: #191970;
background-color: #edf2f3;
background: #0000A3;
OG font:  'Roboto', sans-serif
*/

/*
NEW COLOR SCHEME
background-color: #edf2f3;
particles: #F5F5F5
black : #080600
gold : #EABC07
grey:
bg white: #F5F5F5

*/

/*
body {
  background: #95a5a6;
}

{possible gradient
green: #29da31
blue: #0037fc }
.custom-form {

  font-family: 'Roboto', sans-serif;

